.characterDetails {
  margin: 20px 0;
}

.characterName {
  font-weight: 500;
  font-size: 26px;
}

.characterImage {
  border: 2px solid white;
  object-fit: cover;
  width: 250px;
  height: 250px;
  border-radius: 50%;
  animation-name: opacity;
  animation-duration: 3s;
}

.character {
  padding: 20px 0;
}

.characterInput {
  margin: 10px 0;
  border-radius: 5px;
}

.characterButton {
  border: 1px solid white;
  background: black;
  color: white;
}

@keyframes opacity {
  from {opacity: 0%;}
  to {opacity: 100%}
}